<html>
    <head>
        <style type="text/css" media="screen, print">
            {{ css }}
        </style>
    </head>
    <body>

        <div class="responsiv-pay-invoice">
            <table class="invoice-table invoice-header">
                <tr>
                    <td>
                        <img src="{fileupload name="company_logo" label="Company Logo" span="right"}http://octobercms.com/themes/website/assets/images/logo.png{/fileupload}" alt="" />
                    </td>
                    <td>
                        <div class="invoice-header-number">Invoice #{{ invoice.getUniqueId }}</div>
                        <div class="invoice-header-date">{{ invoice.created_at.toFormattedDateString }}</div>
                    </td>
                </tr>
            </table>

            <table class="invoice-table invoice-details">
                <tr>
                    <td class="invoice-client-row">
                        <div class="invoice-client-label">Customer</div>
                        <div class="invoice-client-details">
                            {% if invoice.company %}<strong>{{ invoice.company }}</strong><br />{% endif %}
                            Attention: {{ invoice.first_name }} {{ invoice.last_name }}<br />
                            {% if invoice.street_addr %}{{ invoice.street_addr }}<br />{% endif %}
                            {% if invoice.city %}{{ invoice.city }}, {% endif %}
                            {{ invoice.state.name }} {{ invoice.zip }}<br />
                            {{ invoice.country.name }}
                        </div>
                    </td>
                    <td class="invoice-company-row">
                        <div class="invoice-company">
                            <div class="invoice-company-name">
                                {text name="company_name" label="Company Name" span="left"}Acme Incorporated{/text}
                            </div>
                            <div class="invoice-company-details">
                                {textarea name="company_address" label="Address details" size="small" comment="Enter the complete contact details as it should appear on the invoice"}
695 Shoehorn Ave
Sweet Darling Station
Pitt Bottom, NSW 2022
Australia
                                {/textarea}
                                <br /><br />
                                {text name="company_registration" label="Company Registration Number" span="left"}ABN: 45 123 456 789{/text}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <br /><br />

            <table class="invoice-table invoice-items">
                <tr>
                    <th class="invoice-item-description">Description</th>
                    <th class="invoice-item-quantity">Qty</th>
                    <th class="invoice-item-price">Unit Price</th>
                    <th class="invoice-item-tax">Tax</th>
                    <th class="invoice-item-total">Amount</th>
                </tr>

                {% for item in invoice.items %}
                    <tr>
                        <td class="invoice-item invoice-item-description">{{ item.description }}</td>
                        <td class="invoice-item invoice-item-quantity">{{ item.quantity }}</td>
                        <td class="invoice-item invoice-item-price">{{ item.price|currency }}</td>
                        <td class="invoice-item invoice-item-tax">{{ item.tax|currency }}</td>
                        <td class="invoice-item invoice-item-total">{{ item.total|currency }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="invoice-end-label invoice-subtotal-label">Subtotal</td>
                    <td class="invoice-end-amount invoice-subtotal-amount">{{ invoice.subtotal|currency }}</td>
                </tr>
                {% for tax in invoice.listSalesTaxes %}
                    <tr>
                        <td colspan="4" class="invoice-end-label invoice-tax-label">Sales tax ({{ tax.name }})</td>
                        <td class="invoice-end-amount invoice-tax-amount">{{ tax.total|currency }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="invoice-end-label invoice-tax-label">Total Tax</td>
                    <td class="invoice-end-amount invoice-tax-amount">{{ invoice.tax|currency }}</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td class="invoice-end-label invoice-total-label">Total</td>
                    <td class="invoice-end-amount invoice-total-amount">{{ invoice.total|currency }}</td>
                </tr>
            </table>

            <br /><br />

            <table class="invoice-table invoice-footer">
                <tr>
                    <td>
                        <div class="invoice-due-date">Due date: {{ invoice.due_at.toFormattedDateString }}</div>
                        <div class="invoice-thanks">Thank you for your business.</div>
                    </td>
                    <td>
                        {% if invoice.isPaid %}
                            <div class="invoice-payment-label">Amount due: {{ 0|currency }}</div>
                            <div class="invoice-payment-advice">This invoice has been paid</div>
                        {% else %}
                            <div class="invoice-payment-label">Amount due: {{ invoice.total|currency }}</div>
                            <div class="invoice-payment-advice">
                                {textarea name="payment_advice" label="Payment advice" size="small"}
                                    Please send full amount to via any of our accepted Payment methods
                                {/textarea}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>