{% if paymentMethods|length %}
    <ul>
        {% for method in paymentMethods %}
            <li>
                 <h4>{{ method.name }}</h4>
                 {% set profile = method.findUserProfile(user) %}

                 {% if profile %}
                    <p>
                        Stored payment profile: {{ '************' ~ profile.card_last_four }}
                        &mdash; <a href="{{ profilePage|page({ id: method.id }) }}">Update or delete</a>
                    </p>
                 {% else %}
                    <p>
                        <a href="{{ profilePage|page({ id: method.id }) }}">Create payment profile</a>
                    </p>
                 {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Payment profiles not found</p>
{% endif %}
