{% if invoice and invoice.payment_method %}
    {% set paymentMethod = invoice.payment_method %}
    {% if paymentMethod.hasPaymentForm %}
        <div class="payment-form">
            {{ paymentMethod.renderPaymentForm(this.controller)|raw }}
        </div>
    {% else %}
        {% set message = paymentMethod.payOfflineMessage() %}
        <div class="alert alert-light pb-0" role="alert">
            {% if message %}
                {{ message|raw }}
            {% else %}
                <p>Payment method "{{ paymentMethod.name }}" has no payment form. Please pay and notify us.</p>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
